# EditorConfig is awesome: http://EditorConfig.org
# See for more details:
# - https://github.com/dotnet/format/blob/main/.editorconfig
# - https://github.com/dotnet/format/blob/main/docs/Supported-.editorconfig-options.md

root = true

[*]
indent_style = space

[*.sln]
indent_style = tab

# Code files
[*.{cs,csx,vb,vbx,fs,fsx,fsi}]
indent_size = 4
max_line_length = 120
insert_final_newline = true
charset = utf-8

# XML project files
[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 4

# XML config files
[*.{props,targets,ruleset,config,nuspec,resx,vsixmanifest,vsct}]
indent_size = 4

[*.{json,yaml,yml}]
indent_size = 2

[*.sh]
end_of_line = lf
indent_size = 4

[*.md]
trim_trailing_whitespace = true
insert_final_newline = true

# See https://github.com/dotnet/aspnetcore/blob/main/.editorconfig
[src/**/*.{cs,csx,vb,vbx,fs,fsx,fsi}]

# See https://www.jetbrains.com/help/resharper/ConfigureAwait_Analysis.html
configure_await_analysis_mode = library
# CA2007: Consider calling ConfigureAwait on the awaited task
#dotnet_diagnostic.CA2007.severity = warning

# CA2012: Use ValueTask correctly
dotnet_diagnostic.CA2012.severity = warning

# CA2013: Do not use ReferenceEquals with value types
dotnet_diagnostic.CA2013.severity = warning
